
@{
    Layout = null;
}



    <script>
        $(function () {
            $("#IntegralReturnTab").datagrid({
                url: '/StatisticalCenter/GetIntegralReturnTab',
                columns: [[
                    { field: "CO_ID", title: "", width: 40 },
                    { field: "CO_OrderCode", title: "订单编号", width: 120 },
                    { field: "MC_CardID", title: "会员卡号", width: 120 },
                    { field: "MC_Name", title: "会员姓名", width: 120 },
                    { field: "CL_LevelName", title: "会员等级", width: 120 },
                    { field: "CO_DiscountMoney", title: "消费金额", width: 120 },
                    { field: "CO_GavePoint", title: "兑换积分", width: 120 },
                    { field: "CO_Recash", title: "反现金", width: 120 },
                    {
                        field: "CO_CreateTime", title: "消费时间", width: 200,
                        formatter: function (value, rec) {
                            return new Date(parseInt(value.substr(6, 13))).toLocaleDateString();
                        }
                    },
                ]],
                pagination: true,
                pageSize: 5,
                pageList: [5, 10, 15],
            });

            $("#btnCx3").click(function () {
                $("#IntegralReturnTab").datagrid("reload", { sTime: $("#txtSTime3").datebox('getValue'), eTime: $("#txtETime3").datebox('getValue'), cardId: $("#txtCardId3").val(), mDj: $("#selMcDj3").val(), oCode: $("#txtStateID3").val(), fh: $("#selXMoney3").val(), xMoney: $("#txtXMoney3").val() });
            })
        })
    </script>


    <fieldset>
        <legend><b>查询</b></legend>
        <table>
            <tr>
                <td>消费日期：</td>
                <td><input id="txtSTime3" type="text" class="easyui-datebox" required="required"></td>
                <td>至<input id="txtETime3" type="text" class="easyui-datebox" required="required"></td>

            </tr>
            <tr>
                <td>卡号/手机：</td>
                <td><input id="txtCardId3" type="text" /></td>
                <td>
                    会员等级：<select id="selMcDj3">
                        <option value="null">请选择</option>
                        @foreach (var item in ViewBag.LevelName)
                        {
                            <option value="@item.CL_ID">@item.CL_LevelName</option>
                        }
                    </select>
                </td>
                <td>
                    消费金额:<select id="selXMoney3">
                        <option value="0" selected>>=</option>
                        <option value="1">></option>
                        <option value="2">=</option>
                    </select>
                    <input id="txtXMoney3" type="text" />
                    <input id="btnCx3" class="btn" type="button" value="查询" />
                  
                </td>
            </tr>
            <tr>
                <td>订单号：</td>
                <td><input id="txtStateID3" type="text" /></td>

            </tr>
        </table>
    </fieldset>

    <table id="IntegralReturnTab"></table>
    @*<div id="main" style="width: 600px;height:400px;"></div>

    <div class="section">
        <div id="barsDemo"></div>
    </div>*@


