
@{
    Layout = null;
}

<div>
    <br />
    用户名：<input id="txtU_LoginName" type="text" />
    <a id="btnFpzh" class="easyui-linkbutton" >分配店长的账号</a> 
  <br />
    <span style="color:red; font-size:14px;padding-left:50px; ">账号默认密码为123456</span>
</div>
<script>
    $(function () {
        $("#btnFpzh").click(function () {
            if ($("#txtU_LoginName").val() == "") {
                alert("用户名不可为空");
                return;
            }
            var rows = $("#TbCxSj").datagrid('getSelected');
            $.getJSON("/ShopGl/DoTancUpAdmin", { U_LoginName: $("#txtU_LoginName").val(), S_ID: rows.S_ID}, function (e) {
                if (e == -1) {
                    alert("用户名已存在！");
                        return;
                }
                if (e==0) {
                    alert("系统异常分配失败！");
                        return;
                }
                alert("分配成功！");
                $("#UpOrAddFrom").dialog("close");
                $("#TbCxSj").datagrid("reload");
                return;
            })
        })
    })
</script>
